<div class="dialog"></div>
<div fxLayout="column" fxLayoutGap="0.5rem" class="px-3 pb-3 pt-2" role="dialog">
    <div fxLayout="row" fxLayoutAlign="center center">
        <mat-icon class="text-danger mr-1">warning</mat-icon>
        {{inputArgs.modelTitle}}
    </div>
    <div class="divider my-2"></div>
    <div class="text-muted" fxLayout="row" fxLayoutAlign="center center">
        <mat-icon class="mr-1">{{inputArgs.warningTextIcon}}</mat-icon>
        {{inputArgs.warningText}}
    </div>
    <ng-container *ngIf="inputArgs.allowCancel">
        <div class="mt-2" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="3rem">
            <button mat-raised-button color="primary" (click)="triggerSelectedAction(inputArgs.bookingId)">{{inputArgs.actionText}}</button>
            <button mat-raised-button class="cancel-button" mat-dialog-close>Close</button>
        </div>
    </ng-container>
</div>
