<app-list-loader *ngIf="loader"></app-list-loader>
<div class="overflow-auto table-container">
    <table *ngIf="!loader" mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-100 table-striped">

        <ng-container matColumnDef="companyName">
            <th mat-header-cell *matHeaderCellDef>Company Name</th>
            <td mat-cell *matCellDef="let element">{{element.companyName}}</td>
        </ng-container>

        <ng-container matColumnDef="companySize">
            <th mat-header-cell *matHeaderCellDef>No. of Hiring</th>
            <td mat-cell *matCellDef="let element">{{element.companySize}}</td>
        </ng-container>

        <ng-container matColumnDef="businessNature">
            <th mat-header-cell *matHeaderCellDef>
                Type of Business
            </th>
            <td mat-cell *matCellDef="let element">{{element.businessNature.replace('_', " ") | titlecase}}</td>
        </ng-container>

        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>Email</th>
            <td mat-cell *matCellDef="let element">{{element.email}}</td>
        </ng-container>

        <ng-container matColumnDef="phoneNumber">
            <th mat-header-cell *matHeaderCellDef>Contact Number</th>
            <td mat-cell *matCellDef="let element">{{element.phoneNumber}}</td>
        </ng-container>

        <ng-container matColumnDef="country">
            <th mat-header-cell *matHeaderCellDef>Country</th>
            <td mat-cell *matCellDef="let element">{{element.country}}</td>
        </ng-container>

        <ng-container matColumnDef="pincode">
            <th mat-header-cell *matHeaderCellDef>Zip code</th>
            <td mat-cell *matCellDef="let element">{{element.pincode}}</td>
        </ng-container>

        <ng-container matColumnDef="detail">
            <th mat-header-cell *matHeaderCellDef>
                <span>Detail</span>
            </th>
            <td mat-cell *matCellDef="let element">
                <button class="action-button" mat-icon-button color="primary" (click)="employerSelected.emit({ employer: element, action: 'details' })">
                    <mat-icon>info</mat-icon>
                </button>
            </td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let element"> 
                <!-- <button class="action-button" mat-icon-button color="primary"  (click)="employerSelected.emit({ employer: element, action: 'edit' })">
                    <mat-icon>edit</mat-icon>
                </button> -->
                <button class="action-button" mat-icon-button color="warn" (click)="employerSelected.emit({ employer: element, action: 'cancel' })">
                    <mat-icon>cancel</mat-icon>
                </button>
            </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="getDisplayedColumns(); sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: getDisplayedColumns();"></tr>
    </table>
</div>
<mat-paginator *ngIf="!loader"
    [length]="employerList.length"
    [pageSizeOptions]="[10, 20]"
    showFirstLastButtons
></mat-paginator> <!--(page)="onPageChange($event)"-->