<mat-accordion displayMode="flat" id="app-job-posting-list-expanable-tab">
    <mat-expansion-panel disabled="true" class="header-panel">
        <mat-expansion-panel-header>
            <mat-panel-title class="header-panel-title" fxLayout="row">
                <div fxLayout="row" class="expandable-job-history-row">
                    <div fxFlex="1 1 33" fxLayout="row" fxLayoutAlign="start">
                        <strong>Company Name</strong>
                    </div>
                    <div fxFlex="1 1 33" fxLayout="row">
                        <strong>Job Title</strong>
                    </div>
                    <div fxFlex="1 1 33" fxLayout="row" fxLayoutAlign="end">
                        <strong>Location</strong>
                    </div>
                </div>
            </mat-panel-title>
        </mat-expansion-panel-header>
    </mat-expansion-panel>
    <ng-container *ngFor="let job of jobList.jobs; let i =index">
        <mat-expansion-panel class="expandable-job-history-body" expanded="{{i === 0}}">
            <mat-expansion-panel-header>
                <mat-panel-title class="m-0">
                    <div fxLayout="row" class="expandable-job-history-row">
                        <div fxFlex="1 1 33" fxLayout="row" fxLayoutAlign="start">{{job.employer.companyName}}</div>
                        <div fxFlex="1 1 33" fxLayout="row" fxLayoutAlign="start">{{job.title}}</div>
                        <div fxFlex="1 1 33" fxLayout="row" fxLayoutAlign="start">{{job.location}}</div>
                    </div>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div>
                <app-job-post-list-expandable-tab-entry
                    label="Employment"
                    [value]="job.nature.replace('_', ' ') | titlecase">
                </app-job-post-list-expandable-tab-entry>
                <div class="divider"></div>
            </div>
            <div>
                <app-job-post-list-expandable-tab-entry
                    label="Posted Date"
                    [value]="job.postingDate">
                </app-job-post-list-expandable-tab-entry>
                <div class="divider"></div>
            </div>
            <div>
                <app-job-post-list-expandable-tab-entry
                    label="Deadline"
                    [value]="job.applicationDeadline">
                </app-job-post-list-expandable-tab-entry>
                <div class="divider"></div>
            </div>
            <div>
                <app-job-post-list-expandable-tab-entry
                    label="Interview Type"
                    [value]="job.interviewType | titlecase">
                </app-job-post-list-expandable-tab-entry>
                <div class="divider"></div>
            </div>
            <div>
                <app-job-post-list-expandable-tab-entry
                    label="Shift"
                    [value]="job.shift | titlecase">
                </app-job-post-list-expandable-tab-entry>
                <div class="divider"></div>
            </div>
            <div>
                <app-job-post-list-expandable-tab-entry
                    label="Position"
                    [value]="job.type | titlecase">
                </app-job-post-list-expandable-tab-entry>
                <div class="divider"></div>
            </div>
            <div>
                <app-job-post-list-expandable-tab-entry
                    label="Resume Required"
                    [value]="job.resumeRequired ? 'Yes' : 'No'">
                </app-job-post-list-expandable-tab-entry>
                <div class="divider"></div>
            </div>
            <div>
                <app-job-post-list-expandable-tab-entry
                    label="No. of Opening"
                    [value]="job.totalHiring">
                </app-job-post-list-expandable-tab-entry>
                <div class="divider"></div>
            </div>
            <div>
                <app-job-post-list-expandable-tab-entry
                    label="Description"
                    [value]="job.description">
                </app-job-post-list-expandable-tab-entry>
                <div class="divider"></div>
            </div>
            <div>
                <app-job-post-list-expandable-tab-entry
                    label="Starting salary"
                    [value]="job.salary.starting | currency: job.salary.currency">
                </app-job-post-list-expandable-tab-entry>
                <div class="divider"></div>
            </div>
            <div>
                <app-job-post-list-expandable-tab-entry
                    label="Starting salary"
                    [value]="job.salary.upto | currency: job.salary.currency">
                </app-job-post-list-expandable-tab-entry>
                <div class="divider"></div>
            </div>
            <div>
                <app-job-post-list-expandable-tab-entry
                    label="Starting salary"
                    [value]="job.salary.exact | currency: job.salary.currency">
                </app-job-post-list-expandable-tab-entry>
                <div class="divider"></div>
            </div>
            <div class="my-2">
                <div class="pl-2">Benefits</div>
                <div class="pl-2" *ngFor="let benefit of job.benefits">
                    &#x2022; {{benefit.split('_').join(' ') | titlecase}}
                </div>
            </div>
            <div class="divider"></div>
            <div class="my-2" fxLayout="row" fxLayoutAlign="space-between center">
                <button mat-raised-button color="primary" (click)="postedJobSelected.emit({ job: job, action: 'edit' })">
                    Edit
                </button>
                <button mat-raised-button color="warn" (click)="postedJobSelected.emit({ job: job, action: 'cancel' })">
                    Delete
                </button>
            </div>
        </mat-expansion-panel>
    </ng-container>
</mat-accordion>
<mat-paginator class="paginator" *ngIf="!loader"
    [length]="jobList.totalItems"
    [pageSizeOptions]="[10, 20]"
    (page)="onPageChange($event)"
    showFirstLastButtons
></mat-paginator>
