.user-profile {
    top: 10%;


    .form-field {
        box-shadow: 0 0 5px rgba(0,0,0,.3);
        border: 1px solid #ececec;

        .experience-form {
            min-width: 47%;
        }
    }
}