<ng-container *ngIf="!hideUpdateProfileMessage">
    <div *ngIf="!isDetailsExists" class="d-flex bg-dark text-light align-items-center justify-content-center">
        <p class="p-3 m-0">It seems your profile is not updated, please <a class="text-info" (click)="goToAboutMe()">click here</a> to update your profile so that we can recommends you the job matching with your profile in future</p>
        <button mat-icon-button (click) = "hideUpdateProfileInfo()"><mat-icon>clear</mat-icon></button>
    </div>
</ng-container>
<app-dashboard-search-form (search)="getJobResult()"></app-dashboard-search-form>
<div fxLayout="column" fxLayoutAlign="center center" fxLayoutAlign.lt-md="start" fxLayoutGap="0" fxLayoutGap.gt-sm="1rem">
    <div *ngIf="(isLargeDevices$ | async)" class="w-100 text-center" ngClass.gt-sm="border-bottom">
        <div *ngIf="!(isUserLoggedIn$ | async) || (isSearchInitiated | async)" class="my-3">
            <a class="link font-weight-bold text-primary">Upload your resume</a>
            <ng-container *ngIf="(isSearchInitiated | async) else otheText">
                <span> - Let employers find you</span>
            </ng-container>
            <ng-template #otheText>
                <span> - It only takes your few seconds</span>
            </ng-template>
        </div>
        <ng-container *ngIf="!isLoggedUserEmployee">
            <div class="my-3" *ngIf="!(isSearchInitiated | async)">
                <a (click)="goToEmployerTab()" class="link font-weight-bold text-primary">Are you Employers? Post a job</a>
                <span> – Your next hire is here</span>
            </div>
        </ng-container>
    </div>
    <ng-container *ngIf="!(isSearchInitiated | async) else showJobResult">
        <div class="popular-search px-4 pt-4">
            <h5>Popular searches</h5>
        </div>
        <div class="px-4 pb-4" [ngClass.gt-sm]="'text-center popular-search-section popular-line-height'">
            <button mat-raised-button (click)="search(popularSearch1)" class="popular d-inline-block" *ngFor="let popularSearch1 of popularSearchLine1">
                <mat-icon class="position-relative text-center">search</mat-icon>&nbsp;
                <span>{{popularSearch1}}</span>
            </button>
        </div>
    </ng-container>
    <ng-template #showJobResult>
        <ng-container *ngIf="jobResult$ | async as jobResult">
            <p> Jobs</p>
            <div class="w-100 row justify-content-center" ngClass.lt-md="column m-0 p-2">
                <mat-card ngClass.lt-lg="col-5 m-2" ngClass.gt-md="col-3 m-2" ngClass.lt-md="col-12" *ngFor="let job of jobResult.jobs">
                    <h6 class="main-text title">
                        <a class="link" (click)="getDetailByAction('job', job.id)">{{job.title}}</a>
                    </h6>
                    <p class="main-text">
                        <a class="link" (click)="getDetailByAction('employer', job.employer.employerId)">{{job.employer.companyName}}</a>
                    </p>
                    <p fxLayout="row" fxLayoutAlign="start center" class="main-text">{{job.location}} <b class="mx-1">&#x2022;</b> {{job.nature.replace('_', '') | titlecase}}</p>
                    <div fxLayout="row" fxLayoutAlign="space-between">
                        <h6 class="main-text pb-3">{{job.salary.starting | currency : job.salary.currency}} - {{job.salary.upto | currency : job.salary.currency}}</h6>
                        <h6 class="main-text pb-3">Exact: {{job.salary.exact | currency : job.salary.currency}}</h6>
                    </div>
                    <mat-divider></mat-divider>
                    <div fxLayout="row" fxLayoutAlign="space-between">
                        <div>
                            <div class="my-2 description">
                                <h6 class="pt-3">Requirement</h6>
                                <p class="m-0">{{job.description}}</p>
                                <p class="m-0" fxLayout="row" fxLayoutAlign="start center">{{job.type | titlecase}} <b class="mx-1">&#x2022;</b> {{job.shift | titlecase}}</p>
                            </div>
                            <strong>Benefits</strong> 
                            <p class="pb-3 m-0 description">
                                <span *ngFor="let benefits of job.benefits">
                                    <p><b class="mx-1">&#x2022;</b>{{benefits.split('_').join(' ') | titlecase}}</p>
                                </span>
                            </p>
                        </div>
                        <div>
                            <h6 class="pt-3 my-2">Mode of interview</h6>
                            <p>{{job.interviewType | titlecase}}</p>
                        </div>
                    </div>
                    <mat-divider></mat-divider>
                    <div fxLayout="column" fxLayoutAlign="space-between">
                        <div fxLayout="row" fxLayoutAlign="space-between">
                            <p class="pt-3 posting">Job Posted On: {{job.postingDate}}</p>
                            <p class="pt-3 posting">Deadline: {{job.applicationDeadline}}</p>
                        </div>
                        <button mat-raised-button color="primary" (click)="apply(job.id, job.employer.employerId)">
                            Send your application
                        </button>
                    </div>
                </mat-card>
            </div>
            <div fxLayout="row">
                <ng-container *ngIf="currentPage !== 1">
                    <button *ngIf="!isFirstPage" mat-icon-button (click)="prevPage()" class="pagination m-2">
                        <mat-icon>chevron_left</mat-icon>
                    </button>
                </ng-container>
                <div  *ngFor="let page of totalPage(jobResult.totalItems / 10 | numberRound : true), let i = index">
                    <ng-container *ngIf=" page >= this.startButtonPage && page < this.showButtonTillPage">
                        <button [disabled]="i + 1 === currentPage" [ngClass]="{'active': i + 1 === currentPage}" (click)="nextPage(i + 1)" mat-stroked-button class="pagination m-2">{{page + 1}}</button>
                    </ng-container>
                </div>
                <ng-container *ngIf="(this.showButtonTillPage * 10 < jobResult.totalItems)">
                    <button *ngIf="!isLastPage" mat-icon-button (click)="nextPage()" class="pagination m-2">
                        <mat-icon>chevron_right</mat-icon>
                    </button>
                </ng-container>
            </div>
        </ng-container>
    </ng-template>
    <div *ngIf="!(isLargeDevices$ | async)" class="px-2 pb-4" fxLayout="row" fxLayoutAlign="space-between">
        <h5 class="font-weight-bold">Create your profile</h5>
        <mat-icon class="arrow">keyboard_arrow_right</mat-icon>
    </div>
    <div *ngIf="(isLargeDevices$ | async) && !(isUserLoggedIn$ | async) || (isSearchInitiated | async)" class="w-100 text-center bg-light p-4">
        <h5>Let employers find you</h5>
        <button mat-raised-button color="primary" class="mt-2">Upload your resume</button>
    </div>
    <ng-container *ngIf="!(isLoggedUserEmployee)">
        <div *ngIf="!(isLargeDevices$ | async)" class="w-100 text-center bg-light p-4">
            <h5>For employers</h5>
            <h5>Your next hire is here</h5>
            <button mat-raised-button color="primary" class="mt-2 w-100">Post a job</button>
        </div>
    </ng-container>
</div>
<app-global-spinner *ngIf="showSpinner && (isUserLoggedIn$ | async)"></app-global-spinner>