
#app-booking-list-expandable-tab {

    .header-panel {

        & > .mat-expansion-panel-header {
            background: aliceblue;
            padding-top: 10px;
        }

        .sort-icon {
            font-size: 20px;
            color: #001928;
            vertical-align: sub;
        }

        .header-panel-title {
            margin-right: 22px;

            & > div {
                color: #001928;
            }
        }
    }
}

.room-history-type {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 33%;
}

.expansion-room-row {
    width: 100%;
}

.expandable-room-history-body {

    .mat-expansion-panel-header {
        background-color: color('grey', 'lighten-3');
    }

    app-booking-list-expandable-tab-entry {
        margin: 10px 5px;
    }

}

.cancel {
    text-align: right;
    padding-top: 20px;
    padding-bottom: 5px;

    a {
        font-weight: bold;
    }
}
