.card {

    .maticon {
        font-size: 5rem;
        color: lightgray;
    }

    .sub-title {
        font-size: 12px;
    }

    .book-room {
        background: #749A4A;
        min-width: 140px;
    }
}

.rounded-circle {
    width: 60px;
    height: 60px;
}
.icon {
    font-size: 1.7rem;
}