<div class="h-100" fxLayout="column" fxLayoutGap="20px" class="mx-3">
    <ng-container *ngIf="!loading">
        <div class="mt-2" *ngIf="noOfCancelAndBookedRoom$ | async as noOfCancelAndBookedRoom">
            <app-page-title [count]="noOfCancelAndBookedRoom" [pageTitle]="pageTitle" [createRoom]="true"></app-page-title>
        </div>
        <mat-card class="matCard">
            Booking-List
            <hr class="mt-3">
            <div fxHide.lt-md *ngIf="bookedVc$ | async as bookedVc">
                <app-booking-list-tab [bookingsVc]="bookedVc" [showCancel]="true"></app-booking-list-tab>
            </div>
            <div fxHide.gt-sm *ngIf="bookedVc$ | async as bookedVc">
                <app-booking-list-expandable-tab [bookingsVc]="bookedVc" [showCancel]="true"></app-booking-list-expandable-tab>
            </div>
        </mat-card>
    </ng-container>
</div>
<app-loader *ngIf="loading"></app-loader>