<div fxLayout="row" fxLayoutGap="1.5rem" class="profile-tab">
    <nav class="navbar-bottom-border" fxFlex="1 1 auto" mat-tab-nav-bar role="navigation" aria-label="Tab Links">
        <a mat-tab-link [routerLink]="jobPostingTab.JOB_POSTING"
            routerLinkActive #jobPost="routerLinkActive" [active]="jobPost.isActive">
            <span fxHide.lt-sm="true" class="tab-text">Job post</span>
        </a>
        <!-- <a mat-tab-link [routerLink]="jobPostingTab.ALL_JOB_POSTING_LIST"
            routerLinkActive #jobPostLanding="routerLinkActive" [active]="jobPostLanding.isActive">
            <span fxHide.lt-sm="true" class="tab-text">All Job Posted</span>
        </a> -->
    </nav>
</div>
<router-outlet></router-outlet>