.navbar{
    padding: 0px;

    &.navbar-bottom-border {
        border-bottom: 1px solid rgba(0,0,0,.12);
    }

    .login {
        opacity: 1;
    }

    .logo-trigger {

        .image {
            width: 30px;
        }
    }

    .mat-tab-link {
        min-width: 80px;
    }

    .login-small {
        border-radius: 4.25rem;
    }

    &.employer-header {
        background: #000000;
        color: #ffffff;
    }
}