<nav class="px-3 navbar" [ngClass]="{'navbar-bottom-border': !(isLoginPage$ | async), 'employer-header': (isIamJobPostingPage$ | async)}" fxLayout="row" [fxLayoutAlign]="!(isLoginPage$ | async) ? 'space-between center' : 'center'">
    <div fxLayout="row" fxLayoutGap="1rem">
        <div class="text-center" [ngClass]="{'mt-4 pt-3 pb-2': (isLoginPage$ | async)}">
            <a aria-label='Return to homepage' tabindex="0" class="logo-trigger" (click)="goToDashboard()">
                <img class="image" [src] = "(isIamJobPostingPage$ | async) ? '/assets/logo_employer.png' : '/assets/logo.png'" />
                <h6>Pagaar</h6>
            </a>
        </div>
        <div *ngIf="(isLargeDevices$ | async) && !(isLoginPage$ | async)" fxLayout.gt-md="row" fxLayout.lt-lg="column-reverse" fxLayoutAlign.gt-md="space-between end"
            fxLayoutAlign.lt-lg="space-between start" class="navigation-bar">
            <nav *ngIf="!(isIamJobPostingPage$ | async)" class="border-0" fxFlex="1 1 auto" mat-tab-nav-bar role="navigation" aria-label="Tab Links">
                <a mat-tab-link id="dashboard-landing" class="dashboard-landing-tab" routerLink="{{dashboardTab.DASHBOARD_LANDING}}"
                    routerLinkActive #dashboardLandingActive="routerLinkActive" [active]="dashboardLandingActive.isActive">
                    <span fxHide.lt-sm="true" class="tab-text">Find jobs</span>
                </a>
                <!-- <a mat-tab-link id="dashboard-company-review" class="dashboard-company-review-tab" routerLink="{{dashboardTab.DASHBOARD_COMPANY_REVIEWS}}"
                    routerLinkActive #dashboardCompanyReviewActive="routerLinkActive" [active]="dashboardCompanyReviewActive.isActive">
                    <span fxHide.lt-sm="true" class="tab-text">Company Reviews</span>
                </a>
                <a mat-tab-link id="dashboard-find-salaries" class="dashboard-find-salaries-tab" routerLink="{{dashboardTab.DASHBOARD_FIND_SALARIES}}"
                    routerLinkActive #dashboardFindSalaries="routerLinkActive" [active]="dashboardFindSalaries.isActive">
                    <span fxHide.lt-sm="true" class="tab-text">Find Salaries</span>
                </a> -->
            </nav>
        </div>
    </div>

    <ng-container *ngIf="!(isLoginPage$ | async)">
        <div fxLayout="row" fxLayoutGap="0.2rem">
            <div *ngIf="(isLargeDevices$ | async) else showLoginButton" fxLayout="row" fxLayoutGap="1.5rem">
                <nav class="border-0" fxFlex="1 1 auto" mat-tab-nav-bar role="navigation" aria-label="Tab Links">
                    <a *ngIf="!(isUserLoggedIn$ | async)" mat-tab-link id="upload-your-resume" class="upload-your-resume" (click)="goToSignUp()">
                        <span fxHide.lt-sm="true" class="tab-text">Upload your Resume</span>
                    </a>
                    <ng-container *ngIf="(isUserLoggedIn$ | async) else userNotLoggedIn">
                        <a mat-tab-link id="login" class="login" [matMenuTriggerFor]="menu">
                            <mat-icon>person</mat-icon>
                        </a>
                        <mat-menu #menu="matMenu">
                            <h6 class="text-center my-3">{{loggedInUserEmail}}</h6>
                            <button fxLayout="row" fxLayoutAlign="space-between center" *ngFor="let opt of options" mat-menu-item (click)="goToSectionAsPerUserSelect(opt.tab)">
                                <span>{{opt.tab}}</span>
                                <mat-icon class="text-dark">{{opt.icon}}</mat-icon>
                            </button>
                            <!-- <div class="border-top text-center pt-2 mt-2">Logout</div> -->
                        </mat-menu>
                    </ng-container>
                    <ng-template #userNotLoggedIn>
                        <a *ngIf="!(isIamJobPostingPage$ | async)" mat-tab-link id="login" class="login" (click)="goToLogin()">
                            <span fxHide.lt-sm="true" class="tab-text text-primary font-weight-bold">Login</span>
                        </a>
                    </ng-template>
                    <ng-container *ngIf="!isLoggedInUserEmployee">
                        <a *ngIf="!(isIamJobPostingPage$ | async)" mat-tab-link class="bold" (click)="goToEmployerTab()">
                            <span fxHide.lt-sm="true" class="tab-text">Post Jobs/ Are you Employers?</span>
                        </a>
                    </ng-container>
                </nav>
            </div>
            <ng-content select="button"></ng-content>
        </div>
    </ng-container>

    <ng-template #showLoginButton>
        <ng-container *ngIf="!(isUserLoggedIn$ | async)">
            <button mat-raised-button color="primary" class="login-small" (click)="goToLogin()">
                Login
            </button>
        </ng-container>
    </ng-template>

    <!-- <div class="position-relative mx-0 my-auto" [ngClass]="(isLargeDevices$ | async) ? 'w-auto' : 'w-100'">
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <ng-content *ngIf="isSignedIn$ | async" select="button"></ng-content>
            <ng-container *ngIf="!(isLoginPage$ | async)">
                <div class="menu"
                        *ngIf="!(isSignedIn$ | async) && (isLargeDevices$ | async)">
                    Video Conference Room Booking System
                </div>
            </ng-container>
            <div class="menu text-dark" fxHide.gt-sm="true"
                    *ngIf="(isSignedIn$ | async) && !(isLargeDevices$ | async)">
                <strong>{{activeRoute | uppercase}}</strong>
            </div>
        </div>
        <div class="dropdown menu" fxHide.lt-md *ngIf="showActions || (isLargeDevices$ | async)">
            <div *ngIf="isSignedIn$ | async">
                <mat-icon class="account mr-2">account_circle</mat-icon>
                <span class="pt-1 position-relative username">{{userLoggedIn$ | async}}</span>
            </div>
            <div class="dropdown-content">
                <ng-container *ngIf="isSignedIn$ | async" select="button"></ng-container>
                <a tabindex="0" id="sign-out-button" class="text-danger px-1 py-2"
                *ngIf="isSignedIn$ | async;"
                    fxLayout="row" fxLayoutAlign="center center"
                    fxLayoutGap="10px"
                    (click)="triggerAction()">
                    <mat-icon class="mr-1">power_settings_new</mat-icon>
                    <span>Logout</span>
                </a>
            </div>
        </div>
    </div> -->
</nav>